<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">


    <listeners>
        <listener class-name="config.TestListener"/>
    </listeners>

    <test name="User API Tests">

        <classes>

            <class name="tests.api.BookTests">
                <methods>
                    <include name="listAllBooks"/>
                    <include name="addNewBook"/>
                    <include name="updateBook"/>
                    <include name="deleteBook"/>
                </methods>
            </class>

            <class name="tests.web.InstagramTest">
                <methods>
                    <include name="testComments"/>
                </methods>
            </class>

            <class name="tests.web.RegistrationTest">
                <methods>
                    <include name="testRegistrationFormSubmission"/>
                </methods>
            </class>

        </classes>

    </test>
</suite>